<!DOCTYPE html>
<html>

<head>

    <title>{{ APP_NAME }}</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">

    <link rel="preconnect" href="https://fonts.googleapis.com">

    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>

    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap" rel="stylesheet">

    <link rel="preload"
      as="image"
      href="/static/bg.png">

</head>

<body class="login-page">

<div class="login-container">

    <h1>{{ APP_NAME }}</h1>

    <p class="environment">
        Environment : {{ ENVIRONMENT }}
    </p>

    {% if error %}
    <div class="error">
        {{ error }}
    </div>
    {% endif %}

    <form method="POST">

        <label>Email</label>

        <input
            type="email"
            name="email"
            placeholder="Enter Email"
            required
            autofocus>

        <label>Password</label>

        <input
            type="password"
            name="password"
            placeholder="Enter Password"
            required>

        <button type="submit">
            Login
        </button>

    </form>

</div>

</body>

</html>