<!DOCTYPE html>
<html>

<head>
    <title>{{ APP_NAME }}</title>
    <link rel="stylesheet" href="/static/style.css">
</head>

<body>

    <div class="login-container">

        <h1>{{ APP_NAME }}</h1>

        <p class="environment">
            Environment : {{ ENV_NAME }}
        </p>

        {% if error %}
        <div class="error">
            {{ error }}
        </div>
        {% endif %}

        <form method="POST">

            <label>Email</label>

            <input
                type="email"
                name="email"
                placeholder="Enter Email"
                required>

            <label>Password</label>

            <input
                type="password"
                name="password"
                placeholder="Enter Password"
                required>

            <button type="submit">
                Login
            </button>

        </form>

    </div>

</body>

</html>