<!DOCTYPE html>
<html>

<head>

    <title>{{ APP_NAME }}</title>

    <link rel="stylesheet"
          href="{{ url_for('static', filename='style.css') }}">

    <link rel="preconnect" href="https://fonts.googleapis.com">

    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>

    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap" rel="stylesheet">
    
</head>

<body>

<div class="topbar">

    <div class="logo">
        {{ APP_NAME }}
    </div>

    <a href="/dashboard" class="logout-btn">
        Dashboard
    </a>

</div>

<div class="history-container">

    <div class="card">

        <h2>Transaction History</h2>

        <hr>

        {% if transactions %}

        <table class="history-table">

            <thead>

                <tr>
                    <th>Transaction</th>
                    <th>Receiver</th>
                    <th>Amount</th>
                    <th>Date</th>
                    <th>Status</th>
                </tr>

            </thead>

            <tbody>

            {% for txn in transactions %}

                <tr>

                    <td>#{{ txn.id }}</td>

                    <td class="receiver">
                        {{ txn.receiver }}
                    </td>

                    <td>
                        ₹ {{ "%.2f"|format(txn.amount) }}
                    </td>

                    <td>
                        {{ txn.date }}
                    </td>

                    <td>

                        <span class="status-success">
                            {{ txn.status }}
                        </span>

                    </td>

                </tr>

            {% endfor %}

            </tbody>

        </table>

        {% else %}

            <p style="text-align:center;padding:30px;">
                No transactions found.
            </p>

        {% endif %}

        <div style="text-align:center;margin-top:30px;">

            <a href="/dashboard" class="action-btn">
                Back to Dashboard
            </a>

        </div>

    </div>

</div>

</body>

</html>